[x-cloak] { display: none !important; }

::-webkit-scrollbar {
    width: 6px;
    height: 6px;
    cursor: pointer;
}
::-webkit-scrollbar-track {
    background-color: transparent;
    cursor: pointer;
}
::-webkit-scrollbar-thumb {
    cursor: pointer;
    background-color: #5d5e6133;
    border-radius: 3px;
}
:hover::-webkit-scrollbar-thumb {
    background-color: #5d5e61aa;
}

.progress-ring {
    stroke-dasharray: 400, 400;
    transition: stroke-dashoffset 0.35s;
    transform: rotate(-90deg);
    transform-origin: 50% 50%;
}


.button {
    @apply relative inline-flex flex-row justify-start items-center py-2.5 h-10 font-medium leading-4 rounded-full text-sm tracking-wide focus:outline-none focus:ring-0 transition cursor-pointer;
}

.circle {
    @apply flex justify-center items-center w-9 h-9 rounded-full cursor-pointer transition;
}

.circle.default {
    @apply hover:bg-hint/10;
}

.button.filled,
.circle.filled {
    @apply bg-button text-on-button;
}

.button.outlined,
.circle.outlined {
    @apply border border-hint focus:border-button text-button;
}

.button.text,
.circle.text {
    @apply hover:bg-button focus:bg-button active:bg-button text-on-background hover:text-on-button;
}

.link {
    @apply hover:text-link hover:underline;
}

.input {
    @apply m-0 px-3 py-2 bg-secondary rounded-md border border-section-separator hover:border-hint outline-0 focus:border-accent focus:outline-0 focus:ring-2 focus:ring-accent/30 disabled:opacity-50 disabled:pointer-events-none;
}
