[x-cloak] { display: none !important; }

::-webkit-scrollbar {
    width: 6px;
    height: 6px;
    cursor: pointer;
}
::-webkit-scrollbar-track {
    background-color: transparent;
    cursor: pointer;
}
::-webkit-scrollbar-thumb {
    cursor: pointer;
    background-color: #5d5e6133;
    border-radius: 3px;
}
:hover::-webkit-scrollbar-thumb {
    background-color: #5d5e61aa;
}

.progress-ring {
    stroke-dasharray: 400, 400;
    transition: stroke-dashoffset 0.35s;
    transform: rotate(-90deg);
    transform-origin: 50% 50%;
}




.link {
    @apply hover:text-link hover:underline;
}

